*
{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.wrap
{
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* padding: 20px; */
}

.card{
  width: 200px;
  margin:20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

input{
  border-radius: 4px;
}
